:root {
    --clr-neutral-100: hsla(0, 0%, 100%, 1);
    --clr-primary-100: hsla(274, 100%, 97%, 1);
    --clr-primary-200: hsla(292, 16%, 49%, 1);
    --clr-primary-300: hsla(281, 83%, 54%, 1);
    --clr-primary-400: hsla(292, 42%, 14%, 1);

    --fw-regular : 400;
    --fw-semibold: 600;
    --fw-bold    : 700;

    --fs-100: .875rem;
    --fs-200: 1rem;
    --fs-300: 2rem;

    @media only screen and (min-width: 37.5em) {
        --fs-100: 1rem;
        --fs-200: 1.125rem;
        --fs-300: 3.5rem;
    }
}

body {
    font-family      : "Work Sans Variable", sans-serif;
    color            : var(--clr-primary-400);
    background-color : var(--clr-primary-100);
    background-image : url("./assets/images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size  : contain;

    display    : grid;
    align-items: center;

    @media only screen and (min-width: 45em) {
        background-image: url("./assets/images/background-pattern-desktop.svg");
    }
}